h1 {
    font: 48px;
    color: midnightblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    top: 100px
}

p {
    color: dodgerblue;
    font: 24px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif
}

.emphasis {
    font-weight: bold;
}

.container {
    border: 1px solid midnightblue;
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    margin: auto;
}

.navbarContainer {
    border: 1px solid midnightblue;
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    margin: auto;
    position:fixed;
    display:block;
    float: left
}
.navBar {
    position: fixed;
    list-style-type: none;
    display: inline-block;
    margin:auto;
    height: 50px;
}

/*li {
    display:inline;
    padding: none;
    ;
}*/

li {
    float: left;
    list-style: none;
}

a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}




